html {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  white-space: pre;
}
table td, table th {
  border: 1px solid #000000;
  padding: 5px 5px;
}
table tbody td {
  font-size: 18px;
}
table thead {
    border-bottom: 2px solid #000000;
    position: sticky;
    inset-block-start: 0;
    background: #EEEEEE;	
}
table thead th {
  font-size: 18px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
